{% extends "vid_lib/base.html" %}
{% block content %}
<h1>{{object}}</h1>
<p>by {{object.user}}</p>
<a class="btn btn-primary" href="{% url "add_video" pk=object.pk %}">Add Video</a>
<a class="btn btn-warning" href="{% url "grp_updt" pk=object.pk %}">Update</a>
<a class="btn btn-danger" href="{% url "grp_dlt" pk=object.pk %}">Delete</a>
<div class="row">
  {% for video in group.video_set.all %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">'
      <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{video.u_tube_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a href="{% url "vid_dlt" pk=video.pk %}" class="btn btn-danger">Delete Video</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
